---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wp-space-server
  namespace: bazalt
  labels:
    app: wp-space
spec:
  replicas: 1
  selector:
    matchLabels:
      pod-label: wp-space-server-pod
  template:
    metadata:
      name: wp-space
      labels:
        pod-label: wp-space-server-pod
      annotations:
        kubectl.kubernetes.io/restartedAt: <time.Now()>
    spec:
      containers:
      - name: wp-space-server-pod
        image: kuber-registry.space.team:5000/wp-space:latest 
        imagePullPolicy: Always
        volumeMounts:
          - name: gluster-claim
            mountPath: /var/www/html/wp-content/uploads/
            subPath: wp-space/uploads
          - name: gluster-claim
            mountPath: /var/www/html/wp-content/languages/
            subPath: wp-space/languages
          - name: gluster-claim
            mountPath: /var/www/html/wp-content/wp-rocket-config/
            subPath: wp-space/wp-rocket-config/
          - name: wp-space-apache-settings
            mountPath: /etc/apache2/mods-available/mpm_prefork.conf
            subPath: mpm_prefork.conf
          - name: wp-robots-config
            mountPath: /var/www/html/robots.txt
            subPath: robots.txt
          - name: wp-htaccess-config
            mountPath: /var/www/html/.htaccess
            subPath: .htaccess
        env:
        - name: DB_HOST
          value: 'wp-space-db'
        - name: WP_CACHE
          value: 'true'
        - name: WP_ENVIRONMENT_TYPE
          value: production
        - name: WP_DEBUG
          value: 'false'
        - name: WP_DEBUG_DISPLAY
          value: 'false'
        - name: WP_DEBUG_LOG
          value: 'false'
        - name: WP_SCRIPT_DEBUG
          value: 'false'
        - name: WP_REDIS_HOST
          value: wp-space-redis
        - name: WP_REDIS_PORT
          value: '6379'
        - name: WP_REDIS_PREFIX
          value: 'wp-space'
        - name: WP_MEMORY_LIMIT
          value: '512M'
        - name: WP_MAX_MEMORY_LIMIT
          value: '1024M'
        - name: WP_ROCKET_CACHE_ROOT_PATH
          value:  /var/www/html/wp-content/cache/
        envFrom:
        - secretRef:
            name: wp-space-db-secret
        - secretRef:
            name: wp-space-server-secret
        resources:
          limits:
            cpu: "16"
            memory: "6Gi"
          requests:
            cpu: "12"
            memory: "3Gi"
        startupProbe:
          httpGet:
            port: http
            path: /
            httpHeaders:
            - name: X-Forwarded-Host
              value: "192.168.68.101"
            - name: Host
              value: "192.168.68.101"
          failureThreshold: 30
          periodSeconds: 10
          timeoutSeconds: 10
        livenessProbe:
          httpGet:
            port: http
            path: /
            httpHeaders:
            - name: X-Forwarded-Host
              value: "192.168.68.101"
            - name: Host
              value: "192.168.68.101"
          initialDelaySeconds: 10
          failureThreshold: 3
          periodSeconds: 10
          timeoutSeconds: 10
        ports:
          - name: http    
            containerPort: 80
      volumes:
        - name: gluster-claim
          persistentVolumeClaim:
            claimName: gluster-claim
        - name: wp-space-apache-settings
          configMap:
            name: wp-space-apache-settings
        - name: wp-robots-config
          configMap:
            name: wp-robots-config
        - name: wp-htaccess-config
          configMap:
            name: wp-htaccess-config