---
apiVersion: v1
kind: Service
metadata:
  name: wp-space-server
  namespace: bazalt
  labels:
    app: wp-space
spec:
  selector: 
    pod-label: wp-space-server-pod
  type: ClusterIP 
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http
  externalIPs:
    - 192.168.68.101