.breadcrumbs-wrapper {
    margin-bottom: 12px;
}

.breadcrumbs-wrap {
    margin-top: 24px;
}

.breadcrumbs span {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.breadcrumbs li {
    display: inline-block;
    margin-right: 8px;
}

.breadcrumbs a {
    color: #946AD2;
}

.breadcrumbs a:hover {
    color: #B293DF;
}

.breadcrumbs .separator {
    color: #999;
}

.breadcrumbs .current {
    color: #999;
}