.header {
  padding: 16px;
  background-color: $white;
  border-radius: 0 0 32px 32px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 98;
  transition: transform .3s, border-color .3s;
  @include lg-u {
    border-bottom: 1px solid transparent;
    &.hide {
      transform: translateY(-100%);
    }
    &.scroll {
      border-color: #F1F0F2;
    }
  }
  @include lg {
    padding: 0;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      z-index: -1;
    }
  }

  &.header--submenu {
    .header__menu-dropdown {
      @include lg-u {
        top: calc(100% + 4px);
        z-index: 2;
        &::before {
          height: 4px;
        }
      }
    }
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 16px;
    @include lg {
      padding: 16px 0;
    }
  }

  &__top-col {
    display: flex;
    align-items: center;
    gap: 24px;
    @include lg {
      display: none;
    }
  }

  &__soc {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__soc-item {
    @include hover {
      &:hover {
        svg {
          path[fill="#10041B"] {
            fill: $violet;
          }
        }
      }
    }

    svg {
      path[fill="#10041B"] {
        @include hover {
          transition: fill .25s;
        }
      }
    }
  }

  &__links {
    ul {
      display: flex;
      align-items: center;
      gap: 24px;

      li {
        a {
          color: $violet;
          border-bottom: 1px solid transparent;

          &:not([href^="tel:"]) {
            @include hover {
              transition: border-color .25s;
              &:hover {
                border-color: $violet;
              }
            }
          }
        }
      }
    }
  }

  &__menu {
    @include lg {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 12px;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      background-color: $white;
      padding: 72px 0 0;
      z-index: -2;
      transform: translateY(-100%);
      transition: transform .3s;
      &.active {
        transform: translateY(0);
      }
    }

    & > ul {
      @include lg-u {
        display: flex;
        align-items: flex-start;
        gap: 24px;
        & > li {
          font-weight: 600;
          border-top: 1px solid #F1F0F2;

          &:hover {
            & > a, & > span {
              color: $violet;
            }

            .header__menu-dropdown {
              opacity: 1;
              visibility: visible;
            }
          }

          & > a, & > span {
            display: block;
            min-width: 140px;
            padding: 12px 0 8px;
            cursor: pointer;
            user-select: none;
            transition: color .25s;
            @include xl {
              min-width: 120px;
            }
          }
        }
      }
      @include lg {
        padding: 16px 24px 0;
        & > li {
          position: static;
          border-bottom: 1px solid #F7F7F8;

          &:last-child {
            border-width: 3px;
          }

          & > span, & > a {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;
            position: relative;
            height: 54px;
            font-weight: 600;
          }

          & > span {
            cursor: pointer;
            user-select: none;

            &::after {
              content: '';
              display: block;
              flex-shrink: 0;
              width: 40px;
              height: 40px;
              background: url(../img/mob-menu-dropdown-icon.svg) center center no-repeat;
              background-size: contain;
            }
          }
        }
      }

      & > li {
        &.cur-page {
          & > a, & > span {
            color: $violet;
          }
        }
      }
    }
  }

  &__menu-dropdown {
    @include lg-u {
      position: absolute;
      top: calc(100% + 40px);
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity .25s, visibility .25s;
      &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        height: 40px;
      }
    }
    @include lg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      padding: 72px 24px 0;
      z-index: 2;
      transform: translateX(-100%);
      transition: transform .25s;
      &.active {
        transform: translateX(0%);
      }
    }
  }

  &__top-mob {
    display: flex;
    align-items: center;
    gap: 16px;
    @include lg-u {
      display: none;
    }
  }

  &__top-mob-links {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__menu-icon {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    margin-right: -8px;
    cursor: pointer;
    user-select: none;

    &.active {
      span {
        &:nth-child(1) {
          transform: translateY(6px) rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          transform: translateY(-6px) rotate(-45deg);
        }
      }
    }

    span {
      display: block;
      width: 20px;
      height: 2px;
      background-color: $violet;
      border-radius: 100px;
      transition: transform .25s, opacity .25s, visibility .25s;
    }
  }

  &__menu-bottom {
    @include lg-u {
      display: none;
    }
  }

  &__menu-soc-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }

  &__menu-contacts {
    margin-top: 16px;
    border-top: 1px solid #F1F0F2;
    padding: 16px 24px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__menu-contacts-item {
    width: calc(50% - 8px);
    padding: 10px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: ls(14, 3);
    font-weight: 600;
    color: $violet;
  }
}

.h-dropdown {
  &__list {
    @include lg-u {
      width: 384px;
      padding: 12px;
      background-color: $white;
      border-radius: 24px;
    }
    @include lg {
      padding-bottom: 32px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-radius: 16px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: ls(14, 3);
    font-weight: 600;
    @include hover {
      transition: background-color .25s, color .25s;
      &:hover {
        background-color: #FBFAFD;
        color: $violet;

        .h-dropdown__item-icon {
          background-color: $violet;

          svg {
            [stroke="#665F6D"] {
              stroke: $white;
            }
          }
        }
      }
    }
    @include lg {
      padding: 16px 0;
    }

    &.cur-page {
      color: $violet;
    }
  }

  &__item-icon {
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border-radius: 12px;
    background-color: #FBFAFD;
    display: flex;
    align-items: center;
    justify-content: center;
    @include hover {
      transition: background-color .25s;
    }

    svg {
      [stroke="#665F6D"] {
        @include hover {
          transition: stroke .25s;
        }
      }
    }
  }

  &__row {
    max-width: 1200px;
    flex-wrap: wrap;
    width: max-content;
    @include lg-u {
      padding: 24px;
      border-radius: 24px;
      background-color: $white;
      display: flex;
      justify-content: space-between;
      gap: 24px;
    }
    @include lg {
      padding-bottom: 32px;
    }
  }

  &__col {
    //width: calc(33.333333% - 16px);
    width: 215px;
    @include lg {
      width: 100%;
      margin-bottom: 16px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__back {
    width: 100%;
    padding: 7px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    color: $violet;
    margin-bottom: 16px;
    border-bottom: 1px solid #F7F7F8;
    @include lg-u {
      display: none;
    }
  }
}

.header-submenu {
  margin-top: 4px;
  width: fit-content;
  padding: 12px 0;
  //border: 1px solid #D9D7DA;
  //border-radius: 32px;

  // На мобильных не отображается
  @include lg {
    display: none;
  }

  & > ul {
    display: flex;
    align-items: center;
    gap: 32px;

    @include lg {
      gap: 12px;
      flex-direction: column;
      overflow-y: auto;
    }

    @include xl {
      gap: 22px;
    }

    & > li {
      position: relative;

      @include hover {
        &:hover {
          & > span, & > a {
            color: $violet;

            & > svg {
              path {
                stroke: $violet;
              }
            }
          }
        }
      }

      @include lg-u {
        &:hover .header-submenu__dropdown {
          opacity: 1;
          visibility: visible;
        }
      }

      & > span, & > a {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: ls(14, 3);
        cursor: pointer;
        user-select: none;

        @include hover {
          transition: color .25s;
        }

        & > svg {
          flex-shrink: 0;

          path {
            @include hover {
              transition: stroke .25s;
            }
          }
        }
      }
    }
  }

  &__dropdown {
    position: absolute;
    left: 0;
    top: calc(100% + 23px);
    opacity: 0;
    visibility: hidden;

    @include lg-u {
      transition: opacity .25s, visibility .25s;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 23px;
    }
  }

  &__dropdown-list {
    width: 408px;
    padding: 12px;
    border-radius: 24px;
    background-color: $white;

    &--lg {
      width: 690px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border-radius: 16px;
    padding: 12px;
    gap: 12px;
    .header-submenu__item-img {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 12px;
    }

    @include hover {
      transition: background-color .25s;

      &:hover {
        background-color: #FBFAFD;

        .header-submenu__item-img {
          background-color: $violet;
          border-radius: 12px;

          svg {
            path {
              stroke: $white;
            }
          }
        }

        .header-submenu__item-sub {
          color: $violet;
        }
      }
    }
  }
}

// === Мобильное подменю ===
.header-submenu-mobile {
  display: none; // по умолчанию скрыто

  & > ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px; // отступы между элементами
    flex-wrap: wrap;
    width: 100%;
    padding: 0 24px;
  }

  & > ul > li {
    position: relative;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid #F7F7F8;
    span{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;
      min-height: 40px;
    }
    & > span{
      justify-content: space-between;
      &::after {
        content: '';
        display: block;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        background: url(../img/mob-menu-dropdown-icon.svg) center center no-repeat;
        background-size: contain;
      }
    }

    // Подменю (изначально скрыто)
    .header-submenu-mobile__dropdown {
      position: static; // не абсолютно
      opacity: 100;
      display: none;
      margin-top: 8px;
      width: 100%;

      &.active {
        opacity: 1;
        display: block;
        visibility: visible;
      }

      &::before {
        display: none; // убираем стрелку
      }
    }

    .header-submenu-mobile__dropdown-list {
      width: 100%;
      max-width: 408px;
      padding: 0px;
      border-radius: 12px;
      background-color: $white;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

      &--lg {
        max-width: 690px;
      }
    }

    .header-submenu-mobile__item {
      display: flex;
      justify-content: space-between;
      gap: 12px;
      align-items: center;
      border-radius: 16px;
      padding: 12px;

      & > span{
        display: flex;
        gap: 12px;
      }

      &:hover {
        background-color: #FBFAFD;

        .header-submenu-mobile__item-img {
          background-color: $violet;

          svg {
            path {
              stroke: $white;
            }
          }
        }

        .header-submenu-mobile__item-sub {
          color: $violet;
        }
      }
    }
  }

  // Показываем только на мобильных
  @include lg {
    display: block;
    width: 100%;

    & > ul {
      display: flex;
      align-items: start;
      gap: 12px;
    }
  }
}
