.partner-block {
  &-filter {
    margin-bottom: 24px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 12px;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &__btn {
      background: #F7F7F8;
      border: 1px solid #D9D7DA;
      border-radius: 32px;
      padding: 8px 20px;
      font-size: 14px;
      font-weight: 500;
      color: #665F6D;
      cursor: pointer;
      transition: all 0.2s ease;

      &.active,
      &:hover {
        background: $violet;
        color: white;
        border-color: $violet;
      }
    }
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin-top: 32px;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}

.partner-card {
  display: flex;
  flex-direction: column;
  padding: 16px 24px;
  border: 1px solid #EAEAEA;
  border-radius: 16px;
  background: #fff;
  transition: box-shadow 0.2s ease;
  position: relative;

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }

  &__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }

  &__logo {
    //width: 300px;
    height: 64px;
    margin-bottom: 16px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__content {
    &-title {
      display: flex;
      gap: 8px;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__title {
    margin: 0 0 12px;
    font-weight: 600;
  }

  &__desc {
    margin-bottom: 12px;
  }

  &__status {
    margin-bottom: 12px;
  }

  &__contacts {
    padding-top: 12px;
    border-top: 1px solid #F0F0F0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__link,
  &__phone {
    color: $violet;
    text-decoration: none;
    margin-top: 8px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__phone {
    direction: ltr;
  }
  &__site {
    z-index: 30;
  }
}