.product-slider {
  &__header {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__slider {
    &-slide{
      min-height: 200px;
      padding: 24px;
      border-radius: 24px;
      background: linear-gradient(90deg, #F7F7F8 0%, #F7F7F8 39.5%, #F2F3F8 79.5%, #F1F3F8 100%);
      transition: background 0.6s ease-in-out;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @media (max-width: 1023px) {
        padding: 16px;
      }
      &:hover{
        background: linear-gradient(90deg, #e6e6e6 0%, #e6e6e6 39.5%, #d6d7e2 79.5%, #d5d7e2 100%);
        .product-slider__slider-link{
          color: $violet;
        }
      }
    }
    &-title{
      margin-bottom: 16px;
    }
    &-link{
      color: blue;
      text-decoration: underline;
      font-size: 600;
    }
  }
}