.contacts{
  &__title {
    margin-bottom: 24px;
    @media (max-width: 1023px) {
      margin-bottom: 12px;
    }
  }
  &__addresses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;

    @media (max-width: 1023px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
    &-item{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 8px;
      padding: 32px 24px 24px;
      border-radius: 24px;
      border: 1px solid #F0F0F0;
      background: linear-gradient(90deg, #F7F7F8 0%, #F7F7F8 39.5%, #F2F3F8 79.5%, #F1F3F8 100%);
      transition: all 0.3s ease;
      &:hover{
        background: linear-gradient(90deg, #F8F8F9 0%, #F0F1F5 39.5%, #EAECEE 79.5%, #E9EBEE 100%);
        border: 1px solid #665F6D;
      }
      @media (max-width: 1023px) {
        padding: 24px 16px 16px;
      }
    }
    &-value{
      font-size: 20px;
      font-weight: 600;
    }
  }
}