@import "normalize.scss";
@import "vars.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "interface.scss";
@import "header.scss";
@import "footer.scss";
@import "home.scss";
@import "connect.scss";
@import "press-center.scss";
@import "product.scss";
@import "about.scss";
@import "partners.scss";
@import "service-centers.scss";
@import "learning.scss";
@import "documentation.scss";
@import "news.scss";
@import "career.scss";
@import "vacancies.scss";
@import "vdi-components.scss";
@import "404.scss";
@import "breadcrumbs.scss";
@import "banner-min.scss";
@import "banner-min-v2.scss";
@import "video-gide.scss";
@import "partner-block.scss";
@import "folder.scss";
@import "content.scss";
@import 'contacts.scss';
@import 'cases.scss';
@import '_product-slider.scss';
@import '_partner-card.scss';
